kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: {{ include "leetcode-daily.fullname" . }}-config
  labels:
    {{- include "leetcode-daily.labels" . | nindent 4 }}
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 64Mi
